@import '../abstracts/';

body {
  background-color: $background;
  font-family: $body;
}

main {
	background-color: $background;
	color: $foreground;
	display: flex;
	flex-direction: column;
	align-items: center;
}

hr {
	width: 85%;
	height: 2px;
	background-color: var(--dimm);
	border: none;
	color: var(--dimm);
	margin-bottom: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 4px;
}

.column {
  flex-direction: column;
}
