header {
  background-color: $background-darker;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;

  & a {
    color: $foreground;
    background-color: transparent;
    padding: 0.6rem 0.8rem;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 450ms ease-out;

    &:hover {
      color: $background;
      background-color: $highlight;
    }
  }
}

.logo {
  aspect-ratio: 40/23;
  width: clamp(4rem, 5rem, 6rem);
}
