{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'scss/main.css' %}" />
    <link rel="shortcut icon" href="{% static 'web/assets/favicon.ico' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'web/assets/favicon.svg' %}">
    <link rel="icon" type="image/png" href="{% static 'web/assets/favicon.png' %}">
    <title>{% block title %}Codeskpark ✨{% endblock %}</title>
  </head>
  <body>
    {% include 'web/navbar.html' %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
