{% extends 'web/base.html' %}
{% block content %}
<main>
  <section class="posts">
    {% for post in posts %}
      <div class="post-card">
        <header>
          <div>
            <span class="subject">{{ post.subject }}</span>
            {% with author=post.author.username %}
            <span>By <a href="{% url 'user' author %}">{{ author }}</a></span>
            {% endwith %}
          </div>
          <h3>{{ post.title }}</h3>
        </header>
        <p>{{ post.peek|truncatewords:16 }}</p>
      </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
