{% extends 'web/base.html' %}
{% block content %}
<main>
  <h1>Página de Início</h1>
  <section class="posts">
    {% for post in posts %}
    <a class="button" href="{% url 'post' post.id %}">
      <div class="post-card">
        <header>
          <h3 class="post-title">{{ post.title }}</h3>
          <span class="post-subject">{{ post.subject }}</span>
        </header>
        <p class="post-peek">{{ post.peek }}</p>
      </div>
    </a>
    {% endfor %}
  </section>
</main>
{% endblock %}
