{% extends 'web/base.html' %}
{% load static %}
{% block title %}Codespark | Registro 👤{% endblock %}
{% block scripts %}
  <script defer src="{% static 'web/js/register.js' %}" defer></script>
{% endblock %}
{% block content %}
<main>
  <h1>Registro de Usuário</h1>
  <hr />
  {% include 'web/messages.html' with level="error" %}
  <form
    action="{% url 'register' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    {% for field in form %}
      <div class="field">{{ field.label_tag }} {{ field }}</div>
    {% endfor %}
    <input type="submit" value="Enviar" />
  </form>
</main>
{% endblock %}
