{% extends 'web/base.html' %}
{% load static %}
{% block title %}Codespark | Submit 🗒️{% endblock %}
{% block scripts %}
  <script src="{% static 'js/submit.js' %}"></script>
{% endblock %}
{% block content %}
  <main>
    <h1>Crie um post</h1>
    {% include 'web/messages.html' with level="error" %}
    <div class="flex">
      <button class="new-code">bloco de código</button>
    </div>
    <form method="post" action="{% url 'submit' %}">
      {% csrf_token %}
      <select name="subject" id="subject">
        {% for subject in subjects %}
          <option value="{{ subject.0 }}">{{ subject.1 }}</option>
        {% endfor %}
      </select>
      <div class="editor"></div>
      <input type="submit" value="Enviar" />
    </form>
  </main>
{% endblock %}
