{% load static %} {% load sass_tags %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% sass_src 'web/scss/main.scss' %}" />
    <link rel="shortcut icon" href="{% static 'web/assets/favicon.ico' %}" type="image/x-icon">
    <title>Codespark | Post 🗒️</title>
  </head>
  <body>
    {% include 'web/navbar.html' %}
    <main>
      <h1>Crie um post</h1>
      {% include 'web/messages.html' with level="error" %}
      <form method="post" action="{% url 'submit' %}">
        {% csrf_token %}
        <select name="subject" id="subject">
          {% for subject in subjects %}
            <option value="{{ subject.0 }}">{{ subject.1 }}</option>
          {% endfor %}
        </select>
        <div class="editor"></div>
        <input type="submit" value="Enviar"/>
      </form>
    </main>
    <script src="{% static 'js/submit.js' %}"></script>
  </body>
</html>
