{% extends 'web/base.html' %}
{% block title %}Codespark | {{ user.username }}{% endblock %}
{% block content %}
  <main>
    <h1 id="username">
      {{ user.username }}
      {% if user.account.publisher %}
        <abbr title="Editor verificado">🗒</abbr>
      {% endif %}
    </h1>
    <img
      {% if user.account.avatar %}
        src="{{ user.profile.path }}"
      {% else %}
        src="https://avatars.dicebear.com/api/bottts/{{ user.username }}.svg"
      {% endif %}
      alt="Foto de perfil de {{ user.username }}"
      id="avatar"
    />
    {# If logged in user == page use -> hover the avatar -> show tip for editing account #}
    <p id="bio">
      {% if user.bio %}
        {{ user.bio }}
      {% else %}
        Não há nenhum conteúdo ainda :(
      {% endif %}
    </p>
    <p id="karma-count">Karma: {{ user.account.karma }}</p>
    <section id="badges"></section>
  </main>
{% endblock %}
