@import "../abstracts/";

.ProseMirror {
  border: 3px solid $foreground;
  border-radius: 5px;
  padding: 0.5rem;
  outline: 0 solid $background;
  outline-offset: 0;
  transition: outline 500ms ease;
  font-size: 0.75em;
  white-space: pre-wrap;
  word-break: break-all;

  & * {
    font-family: $sans;
  }

  &:active,
  &:focus {
    outline: 2px solid $foreground;
    outline-offset: 2px;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8em;
      font-family: "FiraCode Nerd Font", monospace;
    }
  }
}
