// Color Palette

$background: hsl(228, 25%, 10%);
$background-darker: hsl(235, 16%, 6%);
$background-dimm: hsl(212, 18%, 20%);

$foreground: hsl(189, 8%, 83%);

$highlight: hsl(135, 67%, 51%);
$highlight-dark: hsl(143, 64%, 38%);

$error: hsl(352, 90%, 55%);
$alert: hsl(62, 67%, 51%);
